* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nothing";
  src: url("fonts/LED\ Dot-Matrix.ttf") format("truetype");
}

body {
  background-image: url("./assets/background.jpg");
  background-size: contain;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  overflow: hidden;
  height: 100vh;
}

.container {
  padding-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
}
.title h1 {
  font-family: "Nothing";
  font-weight: 400;
  font-size: 3rem;
}

#search {
  padding: 0.5rem 1.2rem;
  border-radius: 3rem;
  background-color: black;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.7);
  font-family: "Nothing";
  color: white;
}

input:focus {
  outline: none;
}

button {
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  color: white;
  font-family: "Nothing";
}

.weather {
  padding: 3rem 0rem;
  display: none;
  justify-content: center;
  width: 100%;
}

.weatherbox {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.059);
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  min-width: auto;
  max-width: auto;
  height: 50vh;
}

.cityname {
  padding-right: 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  grid-column: 1 / span 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px dashed white;
}

.cityname h1 {
  font-family: "Nothing";
  font-size: 4rem;
}

.cityname h5 {
  font-family: monospace;
  font-size: 1rem;
  font-weight: lighter;
}

.temperature {
  align-self: center;
  justify-self: center;
  justify-content: center;
  font-family: "Nothing", sans-serif;
  font-size: 4rem;
  grid-column: 2 / span 1;
  grid-row-start: 1;
}

.temperature h1 {
  font-size: 5rem;
}

.temperature h5 {
  font-size: 1rem;
  font-family: monospace;
}

.humidity {
  display: flex;
  width: 100%;
  height: 100%;
  border-right: 2px dashed white;
  border-top: 2px dashed white;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 1;
  grid-row-start: 2;
  font-family: monospace;
  font-weight: 400;
  font-size: 2rem;
}

.windspeed {
  padding-left: 1rem;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px dashed white;
  grid-column: 2 / span 1;
  grid-row-start: 2;
  font-family: monospace;
  font-weight: 400;
  font-size: 2rem;
  grid-row-start: 2.5;
}

@media (max-width: 768px) {
  .weather {
    padding: 3rem 1rem;
  }
  .weatherbox {
    max-width: 70vw;
    grid-template-rows: 1.5fr 1fr;
  }

  .cityname h1 {
    font-size: 2rem;
  }

  .temperature h1 {
    font-size: 2rem;
  }
  body {
    background-size: cover;
  }
  .windspeed,
  .humidity {
    font-size: 1.3rem;
  }
}

@media (max-width: 426px) {
  body {
    background-size: 130%;
    background-position: center;
  }
  .weather {
    max-width: 425px;
  }
  .weatherbox {
    border-radius: 1rem;
    height: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .container {
    max-width: 425px;
  }
  .container .title h1 {
    align-items: start;
    font-size: 2rem;
  }

  .container .search-box {
    position: relative;
    left: -20px;
  }
  .container .search-box button {
    margin-top: 0.5rem;
  }
  .cityname {
    flex-direction: row;
    grid-row-start: 1;
    border-bottom: 2px dashed white;
    border-right: none;
    grid-column-start: 1;
  }

  .cityname h1 {
    font-size: 1rem;
  }
  .cityname h5 {
    padding-left: 3px;
    font-size: 0.7rem;
  }
  .temperature {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .temperature h1 {
    font-size: 1.8rem;
  }
  .humidity {
    border-right: none;
    font-size: 1rem;
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .windspeed {
    font-size: 1rem;
    grid-row-start: 4;
    grid-column-start: 1;
  }
}

@media (max-width: 320px) {
  body {
    background-size: 130%;
    background-position: center;
  }
  .weatherbox {
    border-radius: 1rem;
    height: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .container .title {
    position: relative;
    left: 20px;
  }

  .container .search-box {
    position: relative;
    left: 20px;
  }
  .container .search-box button {
    margin-top: 0.5rem;
  }
  .cityname {
    flex-direction: row;
    grid-row-start: 1;
    border-bottom: 2px dashed white;
    border-right: none;
    grid-column-start: 1;
  }

  .cityname h1 {
    font-size: 1rem;
  }
  .cityname h5 {
    padding-left: 3px;
    font-size: 0.7rem;
  }
  .temperature {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .temperature h1 {
    font-size: 1.8rem;
  }
  .humidity {
    border-right: none;
    font-size: 1rem;
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .windspeed {
    font-size: 1rem;
    grid-row-start: 4;
    grid-column-start: 1;
  }
}
